# Data Analysis

In [8]:
import numpy as np
import pandas as pd
import random

In [ ]:
a = np.array([4,3,12])

In [ ]:
v = np.array([4,3,2])
v

In [ ]:
x = np.array([[1,2,3],[4,5,6]])
x

In [ ]:
v.shape

In [ ]:
v.reshape(3,1)

In [ ]:
v.T

In [ ]:
a*v

In [ ]:
a = np.array([[4,3,12],[3,4,1]])
a

In [ ]:
b = np.array([[4,3,2],[5,2,1]])
b

In [ ]:
products = ['A','B','C','D']
products

In [ ]:
product_categories = pd.Series(products, index=range(1, len(products) + 1))
product_categories

In [ ]:
v_series = pd.Series(v)
v_series

In [ ]:
# idx = [random.random() for _ in range(len(v))]
idx = [1,2,3,]

In [ ]:
v_series = pd.Series(v, index=idx)
v_series

In [ ]:
print(v_series[1:3])
print(f"{'+'*5}")
print(v_series.iloc[1])
print(f"{'+'*5}")
print(v_series.loc[[1,3]])

In [ ]:
prices_per_category = {'Product A' :1000, 'Product B': 2000, 'Product C': 9000}
prices_per_category

In [ ]:
v_series.max()

In [ ]:
v_series.idxmax()

In [26]:
v_series.head(2)

NameError: name 'v_series' is not defined

In [30]:
data = {'Product Name':
            [
                'Product A',
                'Product B',
                'Product C'
            ],
        'Product Price': 
            [
                25000,
                25300,
                22100
            ],
       }

In [32]:
df = pd.DataFrame(data)
df

  index Product Name  Product Price
0          Product A          25000
1          Product B          25300
2          Product C          22100

In [16]:
index = ["A","B","C"]
df = pd.DataFrame(data, index=index)
df

  Product Name  Product Price
A    Product A          25000
B    Product B          25300
C    Product C          22100

In [ ]:
data = {'Product Name':
            [
                'Product A',
                'Product B',
                'Product C'
            ],
        'Product Price': 
            [
                25000,
                25300,
                22100
            ],
       }

In [10]:
df = pd.DataFrame(
    data = [
        ["Product A", 3000,11],
        ["Product B", 4000,12],
        ["Product C", 4500,12],
    ],
    columns = [
        ["Product Name" , "Product Price", "A"],
        
    ],
    index = [
        ["A","B","C"]
    ]
)
df

  Product Name Product Price   A
A    Product A          3000  11
B    Product B          4000  12
C    Product C          4500  12